@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
    @import url('https://fonts.googleapis.com/css?family=B612+Mono&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

    .container {
        display: none;
    }

    .main-screen {
        position: absolute;
        height: 100vh;
        width: 100vw;
        left: 0;
        z-index: 100;
    }

    .characters-block-header > p {
        text-align: center;
        color: #ededed;
        line-height: 24px;
        font-family: 'Poppins', sans-serif;
    }

    .characters-list {
        display: none;
        position: absolute;
        width: 22%;
        height: auto;
        left: 14%;
        top: -40%;
        overflow: visible !important;
        background-color: rgb(23 23 23 / 80%);
        border-radius: .8vh;
        padding: 30px;
    }

    .character-list-header {
        text-transform: uppercase;
        position: absolute;
        top: -2vh;
        width: 100%;
        height: 10%;
        right: 0;
    }

    .character-list-header > p {
        text-align: center;
        font-size: 2vh;
        margin-top: 3.1vh;
        font-family: 'Poppins', sans-serif;
        letter-spacing: .1vh;
        font-weight: 900;
        color: #ededed;
    }

    .character {
        position: relative;
        width: 100%;
        height: 75px;
        margin-top: 15px;
        font-family: 'Lato' monospace;
        border-bottom: 4px solid #74aa3200;
        transition: .1s linear;
        border-radius: .3vh;
    }

    .character > span {
        color: #ededed;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: .1vh;
        font-family: 'Poppins', sans-serif;
    }

    #cid {
        color: #ededed;
        position: relative;
        float: right;
        font-size: 1.5vh;
        right: 35px;
        line-height: 80px;
    }

    .char-selected {
        background-color: #dc143c;
    }

    .disabled {
        background-color: rgba(0, 0, 0, 0.691);
    }

    #slot-name {
        position: relative;
        color: #ededed;
        font-size: 17px;
        line-height: 80px;
        left: 20px;
        font-family: 'Poppins', sans-serif;
    }

    .character-btn {
        position: relative;
        width: 100%;
        height: 5.0vh;
        top: 65%;
        transition: 0.2s;
        float: left;
        margin-top: 10px;
        margin-right: 10px;
    }

    .character-btn > p {
        color: #ededed;
        letter-spacing: .1vh;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 2vh;
        text-transform: uppercase;
        line-height: 5vh;
        font-weight: bold;
    }

    #play {
        display: none;
        background-color: #28a745;
        border-radius: .3vh;
        transition: all 0.2s ease;
    }

    #play:hover {
        background-color: #228a3a;
    }

    #delete {
        display: none;
        background-color: #dc143c;
        border-radius: .3vh;
        transition: all 0.2s ease;
    }

    #delete:hover {
        background-color: #eb3434;
    }

    .character-info {
        display: none;
        position: absolute;
        width: 20%;
        height: 40%;
        right: 14%;
        top: -40%;
        border-radius: .8vh;
        padding: 30px;
        background-color: rgb(23 23 23 / 80%);
        overflow: visible !important;
    }

    #char-info-icon {
        position: relative;
        font-size: 1.5vh;
        color: #ededed;
        right: 20px;
        overflow: visible !important;
    }

    #char-info-titel {
        text-transform: uppercase;
        position: absolute;
        font-size: 2vh;
        color: #ededed;
        top: -2.9vh;
        left: -5vh;
        letter-spacing: .1vh;
        font-weight: 900;
        overflow: visible !important;
    }

    #no-char {
        position: absolute;
        color: #ededed;
        font-size: 16px;
        top: 30%;
        text-align: center;
    }

    .char-info-titel {
        position: relative;
        left: 28%;
        top: 3%;
        overflow: visible !important;
    }

    .character-info-valid {
        position: relative;
        top: 10%;
        overflow: visible !important;
    }

    .character-info-box {
        position: relative;
        color: #ededed;
        font-size: 1.5vh;
        width: 100%;
        height: 2.9vh;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    .char-info-js {
        position: absolute;
        left: 50%;
    }

    #info-label {
        
        margin-left: 10px;
    }

    .character-delete {
        display: none;
        position: absolute;
        width: 33vh;
        height: 12vh;
        top: 67vh;
        left: 86.5vh; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        background-color: rgb(23 23 23 / 80%);
        border-radius: .8vh;
        padding: 30px;
        font-family: 'Poppins', sans-serif;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: #ededed;
        font-family: 'Poppins', sans-serif;
        overflow: visible !important;
    }

    .characters-delete-block-header {
        position: absolute;
        width: 100%;
        height: 11%;
        color: #ededed;
        text-align: left;
        font-size: 2vh;
        line-height: 29px;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        overflow: visible !important;
    }

    .characters-delete-block-header > p {
        font-family: 'Poppins', sans-serif;
        overflow: visible !important;
    }

    .character-delete > p {
        padding-top: 50px;
        font-size: 1.3vh;
        overflow: visible !important;
    }

    #yeet {
        overflow: visible !important;
    }

    .character-acceptdel-btn {
        position: absolute;
        width: 43%;
        height: 19%;
        bottom: 0;
        left: 5%;
        margin-bottom: 20px;
        background-color: #28a745;
        border-radius: 4px;
        transition: 0.2s;
        overflow: visible !important;
    }

    .character-canceldel-btn {
        position: absolute;
        width: 43%;
        height: 19%;
        bottom: 0;
        right: 5%;
        margin-bottom: 20px;
        background-color: #dc143c;
        border-radius: 4px;
        transition: 0.2s;
        overflow: visible !important;
    }

    .character-acceptdel-btn > p {
        color: #ededed;
        text-align: center;
        padding-top: 1vh;
        font-family: 'Poppins', sans-serif;
        overflow: visible !important;
        font-weight: 900;
        text-transform: uppercase;
    }

    .character-canceldel-btn > p {
        color: #ededed;
        text-align: center;
        padding-top: 1vh;
        font-family: 'Poppins', sans-serif;
        overflow: visible !important;
        font-weight: 900;
        text-transform: uppercase;
    }

    .character-register {
        display: none;
        position: relative;
        width: 25%;
        height: 32%;
        top: 125%;
        margin-left: auto;
        margin-right: auto;
        left: 32px;
        background-color: rgb(23 23 23 / 80%);
        border-radius: .8vh;
        padding: 30px;
        font-family: 'Poppins', sans-serif;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .material-icons-one {
        margin-left: 39.5vh;
        color: #ededed;
        background-color: #dc143c;
        font-size: 1.3vh;
        font-weight: 900;
        border-radius: .3vh;
        padding: .3vh;
    }

    .characters-register-block-header {
        text-transform: uppercase;
        position: absolute;
        width: 100%;
        height: 12vh;
        color: #ededed;
        text-align: left;
        font-size: 2vh;
        font-weight: 900;
        margin-top: -1.3vh;
    }



    .char-register-inputs {
        position: absolute;
        top: 14%;
        overflow: visible !important;
    }

    .char-reg-input {
        position: relative;
        float: left;
        margin-top: 1vh;
        border: none;
        background-color: #444444;
        outline: none;
        width: 92%;
        height: 3vh;
        color: #ededed;
        max-width: 100%;
        font-weight: 900;
        padding: 4px;
        border-radius: .3vh;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        transition: all 0.2s ease-in-out;
    }


    select {
        position: absolute;
        border: none;
        border: .3vh solid #444444;
        background-color: #171717;
        outline: none;
        width: 93.5%;
        height: 4vh;
        top: 19.9vh;
        left: .1vh;
        color: #ededed;
        max-width: 100%;
        padding: 4px;
        border-radius: .3vh;
        font-family: 'Poppins', sans-serif;
        text-align-last: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        transition: all 0.2s ease-in-out;
    }

    select:hover {
        background-color: rgba(34, 34, 34, 0.808);
    }

    select:focus {
        background-color: rgba(34, 34, 34, 0.808);
    }

    #gender option {
        background-color: transparent;
        border: none;
        outline: none;
    }

    select::placeholder {
        text-align: center;
    }

    select::-ms-expand {
        display: none;
    }

    .char-reg-input::placeholder {
        color: rgba(255, 255, 255, 0.52);
    }

    input[type="date"] {
        color: #ededed;
        text-align: center;
    }

    input[type=date]::-webkit-calendar-picker-indicator{
        display: none;
    }

    input[type=date]::-webkit-inner-spin-button, 
    input[type=date]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }

    input[type="date"]::-webkit-input-placeholder{ 
        visibility: hidden !important;
    }

    input[type="date"]::-webkit-clear-button {
        display: none;
    }

    #birthdate {
        color: #ededed;
        text-align: center;
        font-family: 'Lato', monospace;
    }

    .character-reg-btn {
        position: absolute;
        max-width: 87%;
        height: 4vh;
        background-color: #dc143c;
        border-radius: .3vh;
        bottom: 3vh;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    .character-reg-btn > p {
        text-align: center;
        line-height: 4vh;
        color: #ededed;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-size: 2vh;
        font-weight: 900;
    }
